:root{
    --sm: 12px;
    --md: 14px;
    --lg: 16px;

    --green-ai: #00c16e;
    --light-blue-ai: #0cb9c1;
    --orange-ai: #f48924;
    --purple-ai: #7552cc;

    --white-ai: #f3f4f7;
    --gray: #aaacb1;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

header{
    display: grid;
    place-content: center;

    padding: 24px;
}

header h1{
    justify-self: center;
}

.geometria-container{
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 32px;
    /* height: 100vh; */
}

/* Cards */

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 24px;
    border-radius: 10px;
    
    background-color: var(--gray);
}
/* .formCuadrado div{
    width: 100%;
}

.formCuadrado{
    height: 100%;
    justify-content: space-between;
} */

/* Card Titles */
.card h2{
    margin-bottom: 12px;

    font-weight: 500;
}

/* Labels */

.card label{
    margin: 12px 0px 8px 0px;

    /* font-weight: bold; */
    font-size: var(--md);
}

.card input{
    height: 32px;

    padding: 8px;

    border-radius: 10px;
    border: none;
}


/* Buttons */

.card .buttons-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 24px;
    row-gap: 12px;
    
    width: 100%;
    padding: 12px;

    margin: 8px 0px;
}

.card .buttons-container button{

    height: 32px;
    border-radius: 10px;
    border: none;

    font-size: var(--sm);
}

/* span */

.card span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card span p{
    margin-right: 8px;

    font-weight: bold;
}