@import 'principal.css';

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Container info */

.info, .info-mobile{
    padding: 24px;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;

    background-color: var(--purple-ai);
    color: var(--white-ai);

    box-shadow: inset 0px 10px 27px -8px #141414, 
    inset 0px -10px 27px -8px var(--dark-purple), 5px 5px 5px 15px rgba(202,34,138,0);

    text-align: center;
}

.info-mobile{
    display: none;
    height: 250px;
}

.info h1, .info-mobile h1{
    font-size: 24px;
    margin-bottom: 8px;
}

.info a, .info-mobile a{
    color: var(--orange);
}

/* Container Cards */

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr auto 1fr;
}

.container-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--white-ai);
    
    justify-content: center;
    align-items: center;

    background-color: var(--purple-ai);
}

.container-card:hover{
    background-color: var(--ligth-purple);
}

.container-card figure img{
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

.container-card figure:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
}

.container-card figure{
    transition-duration: 500ms;
}

.container-card p{
    margin-top: 4px;
    font-weight: bold;
    font-size: var(--lg);
}

.container-card span{
    font-weight: 500;
    font-size: var(--lg);
    margin: 8px 0px 16px 0px;
}

.container-card button{
    height: 32px;
    width: 200px;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;

    font-size: var(--md);
    font-weight: 500;

    cursor: pointer;
    transition-duration: 500ms;
}

.container-card button:hover{
    /* color: var(--white-ai); */
    background-color: var(--dark-purple);
    
    color: var(--orange);

    font-size: var(--lg);
    font-weight: 500;
    
    /* transform: scale(1.1, 1.1); */
    transition-duration: 200ms;
}

/* Cards Margin */

.figures-card{
    border-right: 2px solid var(--dark-purple);
}

.sale-card{
    border-left: 2px solid var(--dark-purple);
}


.saving-card{
    border-left: 2px solid var(--dark-purple);
    border-top: 2px solid var(--dark-purple);
}

.average-card{
    border-right: 2px solid var(--dark-purple);
    border-top: 2px solid var(--dark-purple);
}

.salary-card{
    border-top: 2px solid var(--dark-purple);
}


/* Media Queries */

@media (max-width: 640px) {
    .container{
        grid-template-columns: auto;
    }

    .info{
        display: none;
    }

    .info-mobile{
        display: grid;
    }
}